aclocal.m4
autom4te.cache
ChangeLog
Makefile
Makefile.in
compile
configure
depcomp
install-sh
missing
stamp-h1
src/.deps
src/*.o
src/Makefile
src/Makefile.in
src/hayk
config.h
config.log
config.status
