aclocal.m4
autom4te.cache
ChangeLog
Makefile
Makefile.in
compile
configure
depcomp
install-sh
missing
stamp-h1
src/.deps
src/*.o
src/Makefile
src/Makefile.in
src/hayk
src/lib/.deps
src/lib/*.o
src/lib/Makefile
src/lib/Makefile.in
src/lib/libhayk.a
config.h
config.log
config.status
